* {
	border: none;
	/*border-radius: 10px;*/
	font-family: "JetBrains Mono Nerd Font Propo", "Symbols Nerd Font", "Nerd Font Symbols", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: white;

	min-height: 0;
	margin: 0;
	padding: 0;
}

window#waybar {
	background: #1a1b26;
	color: white;
}

tooltip {
	background: rgba(43, 48, 59, 0.5);
	border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
	color: white;
}

#workspaces button {
	padding: 0 5px;
	color: white;
	background: transparent;
	background-color: transparent;
	border-bottom: 3px solid transparent;
}

#workspaces button.focused {
	background: #222436;
	border-bottom: 3px solid white;
}

#mode {
	background: #1a1b26;
	border-bottom: 3px solid white;
}

#custom-notifications,
#tray,
#clock,
#battery,
#network,
#power-profiles-daemon,
#custom-power,
#pulseaudio {
	background-color: #222436;
	padding: 0 5px;
	margin: 0 2px;
	border-radius: 8px;
	border-bottom: 2px solid white;
}

#battery.charging {
	color: white;
	background-color: #26A65B;
}

#battery.warning:not(.charging) {
	background: #f53c3c;
	color: white;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#custom-power {
	padding: 0 12px;
}
