* {
	border-radius: 3px;
	border: none
}

window {
	font-size: 20px;
	font-family: "JetBrains Mono Nerd Font";
	background-color: alpha(#1a1b26, 0.7);
	color: white;
}

#entry {
	padding: 0.25em;
}

#input {
	padding: 0.25em;
}

image {
	margin-left: 0.25em;
	margin-right: 0.25em;
}
